<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>

  <body>
    {{> header}}
    <p>Projects page text would go here</p>
  </body>
  {{> footer}}
</html>
